sqlalchemy
alembic
psycopg2-binary
ebooklib
PyMuPDF
beautifulsoup4
chardet
booknlp
spacy
elevenlabs
TTS
pydub
ffmpeg-python
fastapi
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
email-validator
celery
redis
streamlit
openai-whisper
jiwer
speechmos
pandas
matplotlib

